*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* font-family: 'Roboto', sans-serif; */

.wrapper-body{
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 0 0 239px;
    background-color: #171717;
}


.header-container{
    display: flex;
    width: 100%;
    padding: 37px 230px 0;
    justify-content: space-between;
    margin-bottom: 120px;
}
.logo-header{
    width: 216px;
    height: 33px;
}
.callback-button{
    width: 218px;
    height: 50px;
    border: 1px solid #E4B564;
    padding: 10px 25px;
    display: flex;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    color: #E4B564;
    cursor: pointer;
}
.phone{
    margin-right: 10px;
}


.title{
    font-size: 50px;
    line-height: 28px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 41px;
}
.description-text{
    font-size: 20px;
    color: #FFFFFF;
}


.section-seti{
    display: flex;
    flex-direction: column;
    padding: 0 230px;
    margin-bottom: 161px;
    row-gap: 41px;
}

.grid-container-seti{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows:  repeat(2, 1fr);
    grid-gap: 27px 30px;
}
.seti-item{
    color:#FFFFFF;
    font-size: 20px;
    display: flex;
    height: 467px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.seti-item1{
    grid-area: 1 / 1 / 2 / 3;
    background-color: #634F2C;
}
.seti-item2{
    grid-area: 1 / 3 / 2 / 5;
    background-color: #B4A385;
}
.seti-item3{
    grid-area: 1 / 5 / 2 / 7;
    background-color: #E4B564;
}
.seti-item4{
    grid-area: 2 / 1 / 3 / 4;
    background-color: #635A4A;
}
.seti-item5{
    grid-area: 2 / 4 / 3 / 7;
    background-color: #B08C4D;
}


.section-park{
    display: flex;
    flex-direction: column;
    row-gap: 94px;
    padding: 0 230px 190px;
}
.grid-container-park{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px 30px;
    grid-template-rows: 255px 32px 101px 122px 277px;
    font-size: 20px;
    font-weight: 400;
}
.grid-container-park span{
    font-weight: 700;
}
.park-item{
    box-sizing: border-box;
    padding: 44px 51px;
}
.park-item1,
.park-item4{
    color: #FFFFFF;
    background-color: #0E0E0E;
}
.park-item2{
    color: #FFFFFF;
    background-color:#242424;
}
.park-item3,
.park-item5{
    color: #FFFFFF ;
    background-color: #1F1F1F;
}
.park-item6{
    color: #000000;
    background-color: #E4B564;
}
.park-item7{
    color: #FFFFFF ;
    background-color: #0A0909;
}
.park-item1,
.park-item6{
    grid-row: span 2;
}
.park-item2,
.park-item4,
.park-item5{
    grid-row: span 3;
}


.section-clients{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    padding: 161px 230px 0;
    background-color: #0E0E0E;
}
.header-clients{
    display: flex;
    justify-content: space-between;
}
.all-prjects{
    color: #E4B564;
    font-size: 17px;
    line-height: 30px;
    padding: 10px 40px;
    border: 1px solid #E4B564;
    cursor: pointer;
}


.grid-container-projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.clients-item{
    height: 391px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clients-item1{
    grid-area: 1 / 1 / 2 / 2; 
    background-color: #634F2C;
}
.clients-item2{
    grid-area: 1 / 2 / 2 / 3; 
    background-color: #E8D2ABC2;
}
.clients-item3{
    grid-area: 1 / 3 / 2 / 4; 
    background-color: #E4B564;
}
.clients-item4{
    grid-area: 2 / 1 / 3 / 2;
    background-color:#635A4A;
}
.clients-item5{
    grid-area: 2 / 2 / 3 / 3;
    background-color: #B08C4D;
}
.clients-item6{
    grid-area: 2 / 3 / 3 / 4;
    background-color: #634F2C;
}

.clients-item2{
    flex-direction: column;
    text-align: center;
    color: #FFFFFF;
    font-size: 22px;
}
.clients-item2 span{
    font-weight: 600;
}